.about-project {
  margin: 0;
  padding: 110px 70px;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 917px) {
  .about-project {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 601px) {
  .about-project {
    padding: 70px 18px;
  }
}
