.techs__text {
  text-align: center;
  max-width: 460px;
  align-self: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 917px) {
  .techs__text {
    margin-bottom: 83px;
  }
}

@media screen and (max-width: 601px) {
  .techs__text {
    margin-bottom: 50px;
    max-width: 292px;
  }
}
