.search-form__input {
  margin: 0 0 0 22px;
  padding: 0;
  width: calc(100% - 62px);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  height: 100%;
  color: #A0A0A0;
  background: none;
  border: none;
}

.search-form__input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #4d90f0;;
}

@media screen and (max-width: 601px) {
  .search-form__input {
    margin: 0 0 0 19px;
    width: calc(100% - 59px);
    font-size: 11px;
  }
}
