.hidden-menu__close-button {
  margin: 27px 27px 110px 0;
  padding: 0;
  background: url(../../../images/button-close.svg);
  width: 22px;
  height: 22px;
  background-size: contain;
  border: none;
  transition: opacity .3s linear;
  cursor: pointer;
  align-self: flex-end;
  transform: rotate(-45deg);
}

.hidden-menu__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 601px) {
  .hidden-menu__close-button {
    margin: 18px 18px 104px 0;
  }
}
