.footer__year {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 601px) {
  .footer__year {
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }
}
