.about-project__table {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 26px;
}

@media screen and (max-width: 917px) {
  .about-project__table {
    column-gap: 30px;
    row-gap: 22px;
  }
}

@media screen and (max-width: 601px) {
  .about-project__table {
    margin-top: 60px;
    grid-template-columns:repeat(auto-fit, minmax(284px, 1fr));
    row-gap: 16px;
  }
}
