.movie-card__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  transition: opacity .3s linear;
  cursor: pointer;
  width: 100%;
}

.movie-card__link:hover {
  opacity: 0.8;
}
