.filter__invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter__invisible-checkbox:checked + span:before {
  transform: translateX(16px);
}
