.promo__logo {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 320px;
  margin-top: 82px;
  position: relative;
  left: calc(50% - 160px);
}

@media screen and (max-width: 917px) {
  .promo__logo {
    margin-top: 224px;
  }
}

@media screen and (max-width: 601px) {
  .promo__logo {
    width: 248px;
    height: 248px;
    margin-top: 142px;
    left: calc(50% - 124px);
  }
}
