.header {
  margin: 0;
  padding: 0 70px;
  min-height: 74px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 917px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 601px) {
  .header {
    padding: 0 14px;
  }
}
