.about-me__link {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  mix-blend-mode: normal;
  transition: opacity .3s linear;
  cursor: pointer;
}

.about-me__link:hover {
  opacity: 0.8;
}
